body {
  font-family: 'Open Sans', sans-serif;
  color: #4c655c;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3em;
}
h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  color: #3272a2;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  color: #3c5f63;
  line-height: 1.5em;
}
h4 {
  margin: 40px 0;
}
h5 {
  font-weight: bold;
  margin-bottom: 15px;
}
h5 span {
  border-bottom: 4px #50cca8 solid;
  padding-bottom: 2px;
}
span.underlined {
  border-bottom: 4px #50cca8 solid;
}
p.paragraph {
  margin-bottom: 25px;
  background-color: #ecf5f2;
  padding: 12px;
}
div#avatar-container {
  margin: 30px auto;
  text-align: center;
}
div#avatar-container img#avatar {
  margin: 0 auto;
  max-width: 70%;
}
div#lets-talk {
  margin-top: 30px;
}
div#lets-talk span.title {
  font-size: 20px;
}
p#i-love-to-do {
  color: #98a3b1;
  font-style: italic;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.7em;
}
ul#external-links li.external-link {
  font-size: 17px;
  margin-bottom: 7px;
}
ul#external-links li.external-link .fa {
  margin-right: 5px;
}
footer {
  margin-top: 25px;
  background-color: #eee;
  text-align: center;
  padding: 30px;
}
